.page3 {
  .matches-score {
    display: grid;

    @include mq('tablet') {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .card {
    &-title {
      display: flex;
      justify-content: center;
      margin-bottom: 14px;

      h2 {
        font-size: calculate-rem(22px);
        font-weight: 600;
        color: $color-third;
        margin-right: 8px;
      }

      input[type="checkbox"] {
        &:disabled {
          color: $form-control-color;
          cursor: default;
        }
      }
    }

    .score-card {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      margin-bottom: 14px;
      font-size: calculate-rem(22px);
      font-weight: 600;
      color: $color-third;
      box-shadow: none;
      background-color: transparent;

      img {
        max-width: 36%;

        @include mq('desktop') {
          max-width: 100%;
        }
      }

      .score {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        min-height: 70px;

        .vs {
          font-size: calculate-rem(50px);
        }

        .score-number {
          font-size: calculate-rem(35px);
        }

        @include mq('large') {
          padding-left: 4px;
          padding-right: 4px;
          min-height: 114px;
        }
      }
    }
  }

  .action-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    @include mq('desktop') {
      margin-top: 20px;
    }

    @include mq('large') {
      margin-top: 50px;
    }

    .btn {
      min-width: 140px;
      justify-content: center;

      @include mq('large') {
        min-width: 300px;
      }
    }
  }
}
