.page2 {
  .container {
    display: flex;
    flex-direction: column;
  }
}

.card {
  &.title {
    margin-bottom: 14px;
  }

  &-match {
    background-color: $bg-gray;
    margin-bottom: 20px;

    @include mq('desktop') {
      padding: 50px 30px;
      margin-bottom: 40px;
    }
  }

  &-golden-goal {
    width: 100%;

    .card-title {
      font-size: calculate-rem(20px);
      text-align: center;
      font-weight: 600;
      color: $color-fourth;
    }

    .card-content {
      display: grid;
      grid-template-columns: auto auto;
      justify-items: center;

      .form-control {
        &:first-child {
          margin-top: 1em;
        }
      }

      @include mq('tablet') {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }

    .card-footer {
      color: #b4aec0;
      font-size: calculate-rem(15px);
      margin-top: 20px;
    }

    @include mq('desktop') {
      width: 50%;
      align-self: center;
    }
  }

  h1 {
    text-align: center;
    color: $color-third;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: calculate-rem(28px);
  }

  .matches {
    display: grid;
    grid-gap: transform-number-to-string($gutter);

    @include mq('tablet') {
      grid-template-columns: auto auto;
    }

    @include mq('desktop') {
      grid-column-gap: transform-number-to-string(32);
      grid-row-gap: transform-number-to-string(50);
    }

    &-card {
      box-shadow: rgba(0, 0, 0, 0.24) 0 6px 8px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-title {
      font-size: calculate-rem(24px);
      font-weight: 600;
      color: $color-fourth;
      text-transform: uppercase;

      @include mq('desktop') {
        font-size: calculate-rem(20px);
        margin-bottom: 50px;
      }
    }

    &-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-col {
      display: flex;
      flex-basis: 40%;

      &:last-child {
        flex-direction: row-reverse;
      }

      @include mq('desktop') {
        margin-bottom: 0;
        flex-basis: auto;
        align-items: center;
      }
    }

    &-team {
      display: flex;
      flex-direction: column;
      align-items: center;

      &-logo {
        display: flex;
        align-items: center;
        min-height: 100px;

        @include mq('desktop') {
          min-height: 150px;
        }
      }

      &-name {
        color: #2d1c54;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;

        @include mq('desktop') {
          font-size: calculate-rem(15px);
        }
      }
    }

    &-score {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 6px;

      &-value {
        font-size: calculate-rem(50px);
        font-weight: 600;
        color: $color-five;

        @include mq('large') {
          font-size: calculate-rem(95px);
        }
      }

      &-up {
        width: 0;
        height: 0;
        border-left: calculate-rem(8px) solid transparent;
        border-right: calculate-rem(8px) solid transparent;
        border-bottom: calculate-rem(8px) solid $color-five;
      }

      &-down {
        width: 0;
        height: 0;
        border-left: calculate-rem(8px) solid transparent;
        border-right: calculate-rem(8px) solid transparent;
        border-top: calculate-rem(8px) solid $color-five;
      }

      @media (min-width: 350px) {
        padding-left: 10px;
        padding-right: 10px;
      }

      @include mq('desktop') {
        padding-left: 20px;
        padding-right: 20px;

        &-up, &-down {
          border-width: calculate-rem(18px);
        }
      }
    }

    &-vs {
      font-size: calculate-rem(30px);
      font-weight: 600;
      color: $color-five;

      @include mq('desktop') {
        font-size: calculate-rem(37px);
      }
    }
  }
}

.form-action {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;

  .btn {
    font-weight: 600;
  }

  @include mq('desktop') {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
