*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62%;
  scroll-behavior: smooth;

  @include mq("desktop") {
    font-size: 100%;
  }
}

html,
body {
  height: 100%;
}

body {
  background: rgb(255, 255, 255);
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(136, 112, 174, 1) 18%,
      rgba(90, 48, 141, 1) 31%
    )
    no-repeat;
  font-family: $font-family;
  font-weight: 300;
  overflow-x: hidden;
}

strong {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #000;

  &:hover {
    color: $color-primary;
  }
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

h1 {
  font-size: calculate-rem(30px);
  color: #fff;
  font-weight: 500;
  margin-bottom: 10px;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  height: $finger-size;
  display: inline-flex;
  align-items: center;
}

.container {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: transform-number-to-string($gutter);
  padding-right: transform-number-to-string($gutter);

  &--fluid {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
  }
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.btn {
  display: inline-flex;
  align-items: center;
  height: $finger-size;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: $border-radius;
  font-size: 14px;
  transition: all 0.2s ease;
  cursor: pointer;
  border: 0;
  background-color: transparent;

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &-icon {
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    width: $finger-size;
    height: $finger-size;
    color: black;
  }

  &-primary {
    background-color: $color-primary;
    color: #fff;

    &:hover:enabled,
    &:focus:enabled {
      background-color: #fff;
      color: $color-primary;
      border-color: $color-primary;
    }
  }

  &-secondary {
    background-color: $color-secondary;
    color: #fff;

    &:hover:enabled,
    &:focus:enabled {
      background: $color-primary;
      color: #000;
    }
  }

  &-thirty {
    background-color: $color-seven;
    color: #fff;
    font-size: calculate-rem(24px);
    font-weight: 700;

    &:hover:enabled,
    &:focus:enabled {
      background-color: $color-primary;
      color: #000;
    }
  }

  &-large {
    @include mq("large") {
      height: calc(#{$finger-size} * 1.5);
    }
  }
}

.parallelogram {
  transform: skew(-40deg);
  border-radius: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);

  .skew {
    &-fix {
      transform: skew(40deg);
    }
  }
}

.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -320px;

  @include mq("desktop") {
    margin-bottom: -120px;
  }
}

.footer,
.push {
  height: 320px;

  @include mq("desktop") {
    height: 120px;
  }
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-inline-block {
  display: inline-block !important;
}
