.form-control {
  font-size: calculate-rem(15px);
  font-weight: 500;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  color: $form-control-color;
  align-items: center;

  @include mq('desktop') {
    grid-template-columns: 1.8em auto;
  }

  & + & {
    margin-top: 1em;
  }

  &-disabled {
    color: $form-control-disabled;
    cursor: not-allowed;
  }
}

.select {
  position: relative;
  display: inline-flex;
  overflow: hidden;
  height: $finger-size;

  select {
    appearance: none;
    background: none;
    border: none;
    color: $color-third;
    outline: 0;
    box-shadow: none;
    flex: 1;
    padding-right: calculate-rem(20px);
    cursor: pointer;
    font-size: calculate-rem(22px);
    transition: 0.25s all ease;

    &::-ms-expand {
      display: none;
    }
  }

  &:hover, &:focus {
    select {
      color: $color-seven;
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 0;
    height: 0;
    border-left: calculate-rem(8px) solid transparent;
    border-right: calculate-rem(8px) solid transparent;
    border-top: calculate-rem(8px) solid #322251;
    pointer-events: none;
    transition: 0.25s all ease;
  }
}

input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: transparent;
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.25em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;

  @include mq('desktop') {
    width: 1.75em;
    height: 1.75em;
  }

  &::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em $form-control-color;
    /* Windows High Contrast Mode */
    background-color: CanvasText;

    @include mq('desktop') {
      width: 0.85em;
      height: 0.85em;
    }
  }

  &:checked::before {
    transform: scale(1);
  }

  &:focus {
    outline: max(2px, 2.4px) solid currentColor;
    outline-offset: max(2px, 2.4px);
  }

  &:disabled {
    color: $form-control-disabled;
    cursor: not-allowed;
  }
}
