.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0, 0, 0, 0.3);
  transition: opacity 0.25s ease;
  z-index: 9999;

  h2 {
    text-align: center;
    color: #372e57;
    font-size: calculate-rem(30px);
    margin-bottom: 4px;
  }

  &__desc {
    text-align: center;
    color: #898597;
    fonts-size: calculate-rem(20px);
    margin-bottom: 14px;
  }
}

.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal-state {
  display: none;
}

.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
}

.modal-state:checked + .modal .modal__inner {
  @include mq("tablet") {
    top: 130px;
  }

  @include mq("large") {
    top: 260px;
  }
}

.modal__inner {
  transition: top 0.25s ease;
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  overflow: auto;
  background: #fff;
  padding: 1em 2em;
  height: 19%;
}

.modal__close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  transition: all 0.2s ease;
  cursor: pointer;
}

.modal__close:after,
.modal__close:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: #221745;
}

.modal__close:before {
  transform: rotate(-45deg);
}

@include mq("tablet") {
  .modal__inner {
    left: 50%;
    transform: translateX(-50%);
    height: 50%;
  }
}

@include mq("desktop") {
  .modal__inner {
    width: 90vw;
    height: 60%;
  }
}

@media screen and (min-width: 1680px) {
  .modal__inner {
    width: 70vw;
  }
}
