$max-width: 1240px;
$gutter: 20;
$finger-size: 40px;
$border-radius: 4px;
//
$font-family: 'Montserrat', Arial, sans-serif;
//
$color-primary: #fce72e;
$color-secondary: #00aaca;
$color-third: #322251;
$color-fourth: #2d1c54;
$color-five: #322252;
$color-six: #2d1b54;
$color-seven: #7f4194;
$color-eight: #7558a0;
//
$bg-gray: #eaeaea;
//
$form-control-disabled: #959495;
$form-label-control-color: $color-fourth;
