.header {
  margin-bottom: 10px;

  .container {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 8px;
    justify-content: space-between;

    @include mq("desktop") {
      margin-top: 90px;
      margin-bottom: 70px;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }

  &-logo {
    text-indent: -999em;
    background: url("../images/logo.png") no-repeat center/contain;
    width: 160px;
    height: 27px;

    @include mq("desktop") {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      margin-top: -20px;
      width: 363px;
      height: 61px;
    }
  }

  &-menu-group {
    display: flex;
  }

  &-menu {
    display: flex;

    &-login,
    &-register {
      color: #fff;
      font-size: calculate-rem(20px);
      transition: all 0.2s linear;
      height: $finger-size;
      display: inline-flex;
      align-items: center;

      svg {
        color: $color-primary;
        margin-right: 3px;
      }

      &:hover,
      &:focus {
        color: $color-primary;
      }
    }

    &-seperator {
      display: inline-flex;
      align-items: center;
      height: $finger-size;
      padding-left: 4px;
      padding-right: 4px;
      color: #fff;
      font-size: calculate-rem(20px);
    }

    @include mq("desktop") {
      margin-left: auto;
    }
  }

  &-switch {
    position: relative;
    transition-duration: 0.5s;
    /* left: 10px; */

    .icon-left,
    .icon-right {
      transition-duration: 0.5s;
      position: absolute;
      height: 4px;
      width: calc(#{$finger-size} / 2 - 4px);
      top: calc(#{$finger-size} / 2);
      background-color: #fff;
      left: 0px;
      margin-left: 6px;
    }

    .icon-right {
      left: calc(#{$finger-size} / 2 - 4px);
    }

    .icon-left,
    .icon-right {
      &::before,
      &::after {
        transition-duration: 0.5s;
        position: absolute;
        width:  calc(#{$finger-size} / 2 - 4px);
        height: inherit;
        background-color: #fff;
        content: "";
        top: -10px;
        left: 0;
      }

      &::after {
        top: 10px;
      }
    }

    @include mq("tablet") {
      display: none;
    }
  }

  @include mq("tablet") {
    margin-bottom: 20px;
  }

  @include mq("desktop") {
    margin-bottom: 0;
  }
}

.menu-show {
  .header-switch {
    .icon-left,
    .icon-right {
      background: transparent;
    }

    .icon-left {
      &::before {
        transform: rotateZ(45deg) scaleX(1.4) translate(4px, 4px);
        top: -13px;
      }

      &::after {
        transform: rotateZ(-45deg) scaleX(1.4) translate(4px, -4px);
        top: 13px;
      }
    }

    .icon-right {
      &::before {
        transform: rotateZ(-45deg) scaleX(1.4) translate(-4px, 4px);
        top: -13px;
      }

      &::after {
        transform: rotateZ(45deg) scaleX(1.4) translate(-4px, -4px);
        top: 13px;
      }
    }
  }
}
